html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page-content {
  display: flex;
  flex: 1;
}

#content-panel {
  flex-grow: 1;
  float: left;
  /* background-color: #15375a; */
}

#login-panel {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  box-sizing: border-box;
  flex-grow: 0;
  float: left;
  height: 610px;
  left: 0;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  /* background-color: #ace3ff; */
}
