{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<!-- <form method="get">
    {{ filter.form.as_p }}
    <input type="submit" />
</form> -->

<!-- <form method="get" class="mb-3 w-25">
    <div class="mb-3">
        <label for="{{ filter.form.title.id_for_label }}" class="form-label">Cím</label>
        {{ filter.form.title }}
    </div>
    <div class="mb-3">
        <label for="{{ filter.form.content.id_for_label }}" class="form-label">Tartalom</label>
        {{ filter.form.content }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Szűrés</button>
    </div>
</form> -->

<form method="get" class="mb-3 w-25">
    {% for field in filter.form %}
    <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <small>{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
    <div>
        <button type="submit" class="btn btn-primary">Szűrés</button>
    </div>
</form>


<h2>Blog bejegyzések</h2>
{% render_table table %}
{% endblock %}